<template>
  <div>
    <h2>Help</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur iure est molestiae hic, adipisci quaerat provident error mollitia possimus beatae eaque ipsam. Quia, eius id voluptate aliquid necessitatibus harum rem.
    </p>
  </div>
</template>
