<template>
  <q-page class="bg-light-gray-5 window-height window-width row justify-center items-center">
    <div class="column">
      <div class="row">
        <h5 class="text-h5 text-white q-my-md">A. Romagnoli & Co</h5>
      </div>
      <div class="row">
        <q-card square bordered class="q-pa-lg shadow-1">
          <q-card-section>
            <q-form class="q-gutter-md">
              <q-input square filled clearable v-model="username" type="text" label="username" />
              <q-input square filled clearable v-model="password" type="password" label="password" @keyup.enter="userLogin"/>
            </q-form>
          </q-card-section>
          <q-card-actions class="q-px-md">
            <q-btn unelevated color="light-blue-8" size="lg" class="full-width" label="Login" @click.prevent="checkLogin"/>
          </q-card-actions>
          <q-card-section class="text-center q-pa-none">
            <p class="text-grey-6">Not reigistered? Created an Account</p>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script>

export default {
  name: 'LoginForm',
  data () {
    return {
      username: '',
      password: ''
    }
  },
  methods: {
    checkLogin: function () {
      this.$store.commit('auth/LOGIN', { username: this.username, password: this.password })
      if (this.$store.state.auth.isUserLogged) {
        this.$router.push('home')
      }
    },
    userLogin: function () {
      this.$store.dispatch('auth/loginAction', { username: this.username, password: this.password })
      if (this.$store.state.auth.isUserLogged) {
        this.$router.push('/home')
      }
    }
  }
}
</script>

<style>
.q-card {
  width: 360px;
}
</style>
